<div class="card">
    <div class="card-header">
        <h5 class="card-title">Login page</h5>
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()">
            <input class="form-control" 
            name="username" 
            placeholder="johndoe123" 
            [(ngModel)]="user.username">
            <input class="form-control my-2" 
            name="password" 
            type="password" 
            [(ngModel)]="user.password">
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>
